<div class="text-center form-tweets-create mx-auto">
	<form>
		<div class="form-group">
			<textarea class="form-control" rows="4" placeholder="※140文字以内でつぶやいてください"></textarea>
		</div>
		<button type="submit" class="btn btn-primary">つぶやく</button>
	</form>
</div>