<div class="card mt-3 mx-auto center-block tweets-card">
	<div class="card-body">
		<div class="d-flex align-items-center">
			<img src="https://avatars3.githubusercontent.com/u/38857700?s=460&v=4" class="img-thumnail rounded-circle mb-2 border" width="50">
			<p class="h6 pl-2">ユーザ名</p>
		</div>
		<p class="card-text">
			Some quick example text to build on the card title and make up the bulk of the card's content.
		</p>
		<div class="d-flex">
			<div class="flex-grow-1">
				<a href="#" class="p-2" data-toggle="tooltip" data-placement="top" title="「いいね」を取り消す" ><i class="fas fa-heart unlike-button"></i></a>
				<small class="text-secondary">2018/05/06 15:30</small>
			</div>
			<div class="dropdown">
				<button class="btn btn-secondary pt-0 pb-0 btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fas fa-ellipsis-h"></i>
				</button>
				<div class="dropdown-menu tweet-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="#">編集</a>
					<a class="dropdown-item" href="#">削除</a>
				</div>
			</div>
		</div>
	</div>
</div>
