<div class="text-center login">
	<form class="form-signin">
		<input type="name" class="form-control" placeholder="ユーザーネーム" required autofocus>
		<input type="email" class="form-control" placeholder="メールアドレス" required>
		<input type="password" class="form-control" placeholder="パスワード" required>
		<button class="btn btn-lg btn-success btn-block" type="submit">新規登録</button>
	</form>
</div>
