<div class="form">
	<%= form_tag("/users/login") do %>
	<form class="form-signin">
		<input name="email" id="inputEmail" class="form-control" placeholder="メールアドレス" value="<%= @email %>" autofocus>
		<input name="password" id="inputPassword" class="form-control" placeholder="パスワード" value="<%= @password %>">
		<input class="btn btn-lg btn-primary btn-block mt-3" type="submit" value="ログイン">
		<p class="mt-3 mb-3">または</p>
		<a href="/users/signup" class="btn btn-lg btn-outline-success btn-block" role="button" aria-pressed="true">新規登録</a>
	</form>
	<% end %>
</div>
